@import '@fontsource/playfair-display';
@import '@fontsource/nunito';
@import 'tailwindcss';
@plugin 'daisyui';

@theme {
	--default-font-family: 'Nunito';
}

@plugin 'daisyui/theme' {
	name: 'cisf27';
	default: true;
	prefersdark: true;
	color-scheme: 'light';
	--color-base-100: oklch(97% 0.01 60);
	--color-base-200: oklch(93% 0.015 60);
	--color-base-300: oklch(87% 0.018 60);
	--color-base-content: oklch(22% 0.04 250);
	--color-primary: oklch(48% 0.13 28);
	--color-primary-content: oklch(96% 0.02 40);
	--color-secondary: oklch(35.2% 0.181 360);
	--color-secondary-content: oklch(96% 0.02 40);
	--color-accent: oklch(58% 0.14 50);
	--color-accent-content: oklch(97% 0.02 60);
	--color-neutral: oklch(22% 0.07 265);
	--color-neutral-content: oklch(85% 0.04 265);
	--color-info: oklch(55% 0.15 230);
	--color-info-content: oklch(98.4% 0.01 230);
	--color-success: oklch(42% 0.12 145);
	--color-success-content: oklch(97% 0.02 145);
	--color-warning: oklch(62% 0.14 65);
	--color-warning-content: oklch(22% 0.04 65);
	--color-error: oklch(43% 0.18 20);
	--color-error-content: oklch(97% 0.02 20);
	--radius-selector: 0.5rem;
	--radius-field: 1rem;
	--radius-box: 0.5rem;
	--size-selector: 0.28125rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		--default-font-family: 'Playfair Display';
	}
}

@layer utilities {
	.font-playfair-display {
		font-family: 'Playfair Display', serif;
	}

	.font-nunito {
		font-family: 'Nunito', sans-serif;
	}
}
